PySpark GroupBy And Aggregate Functions

In [1]:
import pyspark
from pyspark.sql import SparkSession
import csv

In [2]:
spark=SparkSession.builder.appName("Student").getOrCreate()

In [3]:
df_spark=spark.read.csv('studentData.csv',header=True,inferSchema=True)

In [4]:
df_spark.show()

+---------+-----------+------+
|     Name|Departments|salary|
+---------+-----------+------+
|    krish|DataScience| 10000|
|    krish|        IOT|  5000|
|   mahesh|    BigData|  4000|
|    krish|    BigData|  4000|
|   mahesh|DataScience|  3000|
|sudhanshu|DataScience| 20000|
|sudhanshu|        IOT| 10000|
|sudhanshu|    BigData|  5000|
|      Sun|DataScience| 10000|
|      Sun|    BigData|  2000|
+---------+-----------+------+

In [5]:
df_spark.printSchema

In [8]:
#GroupBy
# groupby find max salary
df_spark.groupBy("Name").sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|      Sun|      12000|
|    krish|      19000|
|sudhanshu|      35000|
|   mahesh|       7000|
+---------+-----------+

In [9]:
# group Departments which gives maximun salery
df_spark.groupBy("Departments").sum().show()

+-----------+-----------+
|Departments|sum(salary)|
+-----------+-----------+
|        IOT|      15000|
|    BigData|      15000|
|DataScience|      43000|
+-----------+-----------+

In [10]:
df_spark.groupBy("Departments").mean().show()

+-----------+-----------+
|Departments|avg(salary)|
+-----------+-----------+
|        IOT|     7500.0|
|    BigData|     3750.0|
|DataScience|    10750.0|
+-----------+-----------+

In [11]:
df_spark.groupBy("Departments").count().show()

+-----------+-----+
|Departments|count|
+-----------+-----+
|        IOT|    2|
|    BigData|    4|
|DataScience|    4|
+-----------+-----+

In [12]:
df_spark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [15]:
df_spark.groupBy("Name").min().show()

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|      Sun|       2000|
|    krish|       4000|
|sudhanshu|       5000|
|   mahesh|       3000|
+---------+-----------+