In [1]:
import pandas as pd
import csv

Pandas using For Testing

In [2]:
df=pd.read_csv('test1.csv')

In [5]:
df.head()

     Name   Age  Experience Saelary Adress
0  surend  20.0         2.0  20,200     Tn
1   kumar  30.0         5.0  30,300     Tn
2    dhar  21.0         7.0  50,000     Kl
3    hari   NaN         3.0  20,000     kr
4    guru  20.0         NaN  35,000     Tn

In [6]:
df.describe

<bound method NDFrame.describe of      Name   Age  Experience Saelary Adress
0  surend  20.0         2.0  20,200     Tn
1   kumar  30.0         5.0  30,300     Tn
2    dhar  21.0         7.0  50,000     Kl
3    hari   NaN         3.0  20,000     kr
4    guru  20.0         NaN  35,000     Tn>

In [7]:
df.dtypes

Name           object
Age           float64
Experience    float64
Saelary        object
Adress         object
dtype: object

In [11]:
df.columns

Index(['Name', 'Age', 'Experience', 'Saelary', 'Adress'], dtype='object')