1.read the csv

2.adding columns in data frame

3.to show the selected columns

4.drop the cloumns 

5.colunms rename

In [3]:
import pyspark
import pandas
import csv
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName("project").getOrCreate()

In [6]:
spark

In [7]:

df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)
df_pyspark.show()

+------+---+-------+
|  name|age|address|
+------+---+-------+
|surend| 20|     tn|
| kumar| 30|     kl|
|  dhar| 21|     dl|
+------+---+-------+

In [8]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: string (nullable = true)

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
df_pyspark.columns
df_pyspark.head(2)

[Row(name='surend', age=20, address='tn'),
 Row(name='kumar', age=30, address='kl')]

In [11]:
# to show the selected columns
df_pyspark.select(['name','age']).show()

+------+---+
|  name|age|
+------+---+
|surend| 20|
| kumar| 30|
|  dhar| 21|
+------+---+

In [12]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('address', 'string')]

In [13]:
df_pyspark.describe().show()

+-------+------+------------------+-------+
|summary|  name|               age|address|
+-------+------+------------------+-------+
|  count|     3|                 3|      3|
|   mean|  NULL|23.666666666666668|   NULL|
| stddev|  NULL| 5.507570547286102|   NULL|
|    min|  dhar|                20|     dl|
|    max|surend|                30|     tn|
+-------+------+------------------+-------+

In [14]:
# adding columns in data frame
df_pyspark=df_pyspark.withColumn('retiedage',df_pyspark['age']+20)
df_pyspark

DataFrame[name: string, age: int, address: string, retiedage: int]

In [35]:
df_pyspark.show()

+------+---+---------+
|  name|age|retiedage|
+------+---+---------+
|surend| 20|       40|
| kumar| 30|       50|
|  dhar| 21|       41|
+------+---+---------+

In [15]:
# drop the cloumns 
df_pyspark.drop('retiedage').show()

+------+---+-------+
|  name|age|address|
+------+---+-------+
|surend| 20|     tn|
| kumar| 30|     kl|
|  dhar| 21|     dl|
+------+---+-------+

In [16]:
# colunms rename
df_pyspark.withColumnRenamed('name','patient').show()

+-------+---+-------+---------+
|patient|age|address|retiedage|
+-------+---+-------+---------+
| surend| 20|     tn|       40|
|  kumar| 30|     kl|       50|
|   dhar| 21|     dl|       41|
+-------+---+-------+---------+

In [21]:
pd=pandas.read_csv('test1.csv')
pd.head()

     name  age address
0  surend   20      tn
1   kumar   30      kl
2    dhar   21      dl

In [24]:
pd.describe

<bound method NDFrame.describe of      name  age address
0  surend   20      tn
1   kumar   30      kl
2    dhar   21      dl>